################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/Agent/bin/Debug
/Desktop/Agent/obj/Debug
/Desktop/.vs/Desktop/v15/Server/sqlite3
/Desktop/.vs/Desktop/v15
/.vs
/Desktop/Entities/obj/Debug
/Desktop/Entities/bin/Debug
/Desktop/packages/EntityFramework.6.2.0
/Desktop/DataAccess/obj/Debug
/Desktop/DataAccess/bin/Debug
/Desktop/Agent/obj/Release
/Desktop/Database/bin/Debug
/Desktop/Database/obj/Debug
/Desktop/packages/RefactorThis.GraphDiff.3.0.2
/Desktop/Desktop.sln.DotSettings.user
/ReportsApp/package-lock.json
/Desktop/Agent/Agent.csproj.user
/Desktop/AzureDatabase/obj/Debug
/Desktop/AzureDatabase/bin/Debug
/Desktop/Entities/obj/Release
/Desktop/Entities/bin/Release
/Desktop/Database/obj/Release
/Desktop/Database/bin/Release
/Desktop/DataAccess/obj/Release
/Desktop/DataAccess/bin/Release
/Desktop/AzureDatabase/obj/Release
/Desktop/AzureDatabase/bin/Release
/Desktop/Agent/bin/Release
/Desktop/UpdateAgent/obj
/Desktop/UpdateAgent/bin
/Desktop/Common/bin/Debug
/Desktop/Common/obj/Debug
/Desktop/packages
/Desktop/WebApi/obj/Debug
/Desktop/WebApi/bin
/Desktop/.vs/config
/SipWrapper/obj/Debug
/SipWrapper/bin/Debug
/Desktop/Common/obj/Release
/Desktop/Common/bin/Release
/Desktop/WebApi/obj/Release
/SipWrapper/obj/Release
/SipWrapper/bin/Release/SipWrapper.pdb
/SipWrapper/bin/Release/SipWrapper.dll
/SipWrapper/bin/Release
/SipWrapper/obj
/SipWrapper/bin
/Desktop/Agent/obj
/Desktop/Agent/bin
/Desktop/Common/obj/x86/Debug
/Desktop/Common/bin/x86/Debug
/Desktop/DataAccess/obj/x86/Debug
/Desktop/DataAccess/bin/x86/Debug
/Desktop/Database/obj/x86/Debug
/Desktop/Database/bin/x86/Debug
/Desktop/Entities/obj/x86/Debug
/Desktop/Entities/bin/x86/Debug
/Desktop/Common/bin/x64/Debug
/Desktop/Common/obj/x64/Debug
/Desktop/DataAccess/bin/x64/Debug
/Desktop/DataAccess/obj/x64/Debug
/Desktop/Database/bin/x64/Debug
/Desktop/Database/obj/x64/Debug
/Desktop/WebApi/obj/x64/Debug
