<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-65UEOOL\SQLEXPRESS;Initial Catalog=CallCenter;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SourceFolder" value="C:\temp\SourceFolder\" />
    <add key="CsvFolder" value="D:\TestProjects\Test1\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="domain" value="sip.skype.com" />
    <add key="user" value="99051000390057" />
    <add key="password" value="5QDkSgfSm8AN7j" />
    <add key="sipLogLevel" value="9" />
    <!-- Critical = 2 | Error = 3 | Warning = 4 | Info = 6 | Debug = 7 -->
    <add key="sipLogPath" value="c:\temp\logs\sip" />
    <add key="SipCallAtempts" value="3" />
    <add key="SipCallAtemptDelayInDays" value="2" />
    <add key="SipCallStartThreshold" value="50" />
    <add key="DocumentFileLocation" value="c:\temp\Document.rtf" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>