.call-counts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;

    .count-wrapper {
        height: 110px;
        padding: 15px;

        &:last-child>.count-details {
            border: 0;
        }

        .count-details {
            height: inherit;
            border-right: 1.5px solid rgba(0, 0, 0, 0.54);
            text-align: center;


            .details-header {
                line-height: 24px;
                display: inline-flex;
                font-weight: bold;

                mat-icon {
                    padding-right: 5px;
                }
            }

            .details-body {
                padding-top: 3px;
            }
        }
    }
}