<div class="call-counts">
  <div class="count-wrapper">
    <div class="count-details">
      <div class="details-header">
        <mat-icon class="app-nav-list-icon"> call </mat-icon>
        <div>Nr. Apeluri Astazi</div>
      </div>
      <div class="details-body">
        235
      </div>
    </div>
  </div>
  <div class="count-wrapper">
    <div class="count-details">
      <div class="details-header">
        <mat-icon class="app-nav-list-icon"> call </mat-icon>
        <div>Nr. Apeluri Sapatamna Aceasta</div>
      </div>
      <div class="details-body">
        1245
      </div>
    </div>
  </div>
  <div class="count-wrapper">
    <div class="count-details">
      <div class="details-header">
        <mat-icon class="app-nav-list-icon"> call </mat-icon>
        <div>Nr. Apeluri Luna Aceasta</div>
      </div>
      <div class="details-body">
        3562
      </div>
    </div>
  </div>
  <div class="count-wrapper">
    <div class="count-details">
      <div class="details-header">
        <mat-icon class="app-nav-list-icon"> call </mat-icon>
        <div>Nr. Apeluri Anul Acesta</div>
      </div>
      <div class="details-body">
        20145
      </div>
    </div>
  </div>
</div>