<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="sipDomain" value="sip.skype.com" />
    <add key="playFileLocation" value="C:\Temp\Recordings\StarRecordings\ring05.wav" />
    <add key="user" value="99051000507121" />
    <!-- 99051000507121 -->
    <add key="threads" value="5" />
    <add key="timerDelaySeconds" value="40"/>
    <add key="pwd" value="5FSzPGcamwvhfw" />
    <!-- 5QDkSgfSm8AN7j -->
    <add key="sipLogLevel" value="9" />
    <!-- Critical = 2 | Error = 3 | Warning = 4 | Info = 6 | Debug = 7 -->
    <add key="sipLogPath" value="c:\temp\logs\sip" />
    <add key="appLogPath" value="c:\temp\logs\app" />
    <add key="recordingFolder" value="C:\Temp\Recordings\Recordings"/>
  </appSettings>
</configuration>