All requirements below refer to JUST the Desktop WinForm app.

1. You can have just one instance of the Desktop app on a Windows machine running at a time.

   Options: a) Enumerate running processes. If WinForm running, do not start new instance app.
            b) Mutex - see an example at: https://saebamini.com/Allowing-only-one-instance-of-a-C-app-to-run/ 
   
2. We need a way to auto-update Desktop WinForm app.
   
   Assumptions: We will have remote access to server running in the CallCenter. This is necessary because of other reasons.
   Like debugging, support, et cetera.
   So, assume that we (your or I) can remote to this server and drop the dlls of the app to a network share. Also, there's an appSetting
   in the deployed app confiuration file which points to this network share.
   
   Options: Create a console app which will do the following:
   
     a) Every time you start it will do a hash of the network share folder which contains the deployable files. 
     And then a hash of the local folder where the app is deployed. Compare these two and if they're different pull the folder
     from the netwrok share and overwrite the local one. This means that the we have two different apps to deploy, the console app and the 
     desktop app. Also what this means is that we cannot use the folder (or any of its subfolders) where the app is deployed for logs or    anything else.
     
     b) Research the Publish tab in the Project properties if it can help us solve this. We won't have an FTP or SFTP server.
     
     c) Store deployed app in an Azure Blob. When app starts request the blob's LastModified property, or Created property if LastModified is null and compare it with the one you stored locally. If different, deploy content of blob.
     
3. We need a way to log all the stuff happening on the Desktop app. The logs must live on a network share. We log Warnings and Errors.

4. Let's make sure we have an Unhandled errors handler for the WinForms app. No error should go unhandled.

5. Call flows. Once an agent starts their app

   Outbound call.
   
